<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AllMovies</title>
  </head>
  <body>
    <form action="/movies" method="post">
      <p>Enter a new movie:</p>
      <input type='string' name= 'movie[title]' value="Title"/><br/>
      <input type='text' name='movie[description]' value="Description"/><br/>
      <input type='submit' value="Submit"/>
    </form>
  </body>
</html>
