<h1> All Directors: </h1>
<% @directors.each do |director| %>
  <%= director.name %>
    <% director.movies.each do |movie| %>
      <%= link_to movie.title, movie_path(movie) %>
      <% end %>
<% end %>
